{% extends 'app/base.html' %}
{% load poll_extras %}
{% block content %}
<div class="wrapper">





    <nav class="nav navbar navbar-default" role="navigation">
      <div class="container">

        <div class="navbar-header " style="float: left;">
          <a href="{% url 'main' %}" class="navbar-brand">djinni.co</a>
        </div>

      </div> <!-- ./container -->
    </nav>





<div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 loginpage-wrapper">

      <div class="page-header">
        <h1>

            Sign Up to Djinni


        </h1>
      </div>

      <div class="row">

        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
{#            {{ form }}#}

        <div class="col-sm-6 col-login-email">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
{#                {{ form.email|htmlattributes:'class: form-control, type:email, name:email, placeholder:Email, id:email' }}#}
                <input class="form-control" type="email" name="email" placeholder="Email" value="" id="id_email">


              <p class="help-block" style="display: none;" id="p_empty_email">
                <small class="text-danger">
                  Please fill this field.
                </small>
              </p>
            </div>
            <div class="form-group">
                <input class="form-control" type="username" name="username" placeholder="Username" value="" id="id_username">


              <p class="help-block" style="display: none;" id="p_empty_email">
                <small class="text-danger">
                  Please fill this field.
                </small>
              </p>
            </div>
            <div class="form-group">
{#              {{ form.password|htmlattributes:'class: form-control, type:password, name:password, placeholder:Password, id:password' }}#}
                <input class="form-control ph-no-capture" type="password" name="password1" id="id_password1" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control ph-no-capture" type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="Confirm password">
            </div>



              <div class="form-group" style="margin: 24px 0;">


    <div class="radio">
      <label>
        <input type="radio" name="account_type" value="recruiter" id="id_account_type">
        I'm a hiring manager or recruiter
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="account_type" value="candidate" id="id_account_type">
        I want job opportunities
      </label>
    </div>


              </div>


            <div>
              <button class="btn btn-primary btn-lg" type="submit" style="min-width: 100px;">

                  Continue

              </button>
            </div>

        </div>

        <div class="col-sm-6 col-social-login">
              <p><button class="btn btn-default btn-lg btn-social-login" type="submit" name="social_auth" value="github"><i class="icon-social-login icon-social-login__github">
                </i>Login with GitHub</button></p>
              <p><button class="btn btn-default btn-lg btn-social-login" type="submit" name="social_auth" value="google"><i class="icon-social-login icon-social-login__google">
                </i>Login with Google</button></p>
              <p><button class="btn btn-default btn-lg btn-social-login" type="submit" name="social_auth" value="linkedin"><i class="icon-social-login icon-social-login__linkedin">
                </i>Login with LinkedIn</button></p>
              <p><button class="btn btn-default btn-lg btn-social-login" type="submit" name="social_auth" value="facebook"><i class="icon-social-login icon-social-login__facebook">
                </i>Login with Facebook</button></p>

        </div>
        </form>

      </div>

      <br><br>

      <p>

          <a href="{% url 'login' %}">I already have an account</a>

      </p>

      </div>
    </div>
</div>




    <br>
    <div class="footer">
      <div class="container">

      <p class="footer-lang-switch">
        Language:
        <a href="https://djinni.co/set_lang?code=en&amp;next=/signup" class="lang-active">English</a> ·
        <a href="https://djinni.co/set_lang?code=uk&amp;next=/signup">Українська</a> ·
        <a href="https://djinni.co/set_lang?code=ru&amp;next=/signup">Русский</a>
      </p>

      </div>
    </div>
</div>
{% endblock %}