{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Djinni for job search ৵(°͜°৵)</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">






    <script type="text/javascript" async src="https://widget.intercom.io/widget/cg6zpunb"></script><script async src="https://connect.facebook.net/en_US/fbevents.js"></script><script async src="//www.google-analytics.com/analytics.js"></script><script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap3-typeahead.min.js' %}"></script>
    <script src="{% static 'js/inner-script.js' %}"></script>


    <link rel="stylesheet" href="{% static 'css/style_1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preload" href="{% static '/static/fonts/material-iconfont/material-icons.woff2' %}" as="font" type="font/woff2" crossorigin>



    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'images/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-196x196.png' %}" sizes="196x196">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-128.png' %}" sizes="128x128">
    <meta name="application-name" content=" ">
    <meta name="msapplication-TileColor" content="#4859FF">
    <meta name="msapplication-TileImage" content="/static/favicons/v03/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="/static/favicons/v03/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/static/favicons/v03/mstile-150x150.png">
    <meta name="msapplication-square310x310logo" content="/static/favicons/v03/mstile-310x310.png">




      <link rel="stylesheet" href="{% static 'css/vendors.76e87a08f2c8bd160cd7.css' %}">

      <link rel="stylesheet" href="{% static 'css/styles.953b051e3cf157f16a12.css' %}">





    <meta property="og:image" content="{% static 'images/og_image_logo.png' %}">
    <meta name="twitter:image" content="https://djinni.co/static/i/landing/jobs-push/social-preview/og_image_logo.png">


  <meta property="og:title" content="Djinni for job search">
  <meta property="og:description" content="Jobs in Ukrainian IT and remote, anonymous job search for developers.">


  <meta name="description" content="Jobs in Ukrainian IT and remote, anonymous job search for developers.">

  <style>
  .blink {
    width: 50px;
    height: 50px;
    -webkit-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Safari 4+ */
    -moz-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Fx 5+ */
    -o-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Opera 12+ */
    animation: NAME-YOUR-ANIMATION 1s infinite;  /* IE 10+, Fx 29+ */
  }

  @-webkit-keyframes NAME-YOUR-ANIMATION {
    0%, 49% {
      color: #165ec8;
    }
    50%, 100% {
      color: none;
    }
  }

  .v4__submit {
    margin-top: 0;
    margin-bottom: 10px;
    background: #0cb349;
    background-size: 29px 18px;
  }

  .lang-active {
    font-weight: bold;
    pointer-events: none;
  }

</style>

<meta name="google-translate-customization" content="43b319e88d47400c-2c58b02d438c987e-gbc703ae24e1d942c-9">

  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/cg6zpunb';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>








<script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_v9AOzmMST9AgKpVzMGkPwCgbpCnrDJp0HoNAEg32IQ5',{
      api_host:'https://app.posthog.com',
      loaded: function(posthog) {

      })
      }});
  </script>





  <!-- Facebook Pixel Code -->






  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '320106381530431');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=320106381530431&amp;ev=PageView&amp;noscript=1">
  </noscript>

<!-- End Facebook Pixel Code -->


  </head>
<body>
    {% block content %}
    
    {% endblock %}
</body>
</html>